@model CommonLayer.Model.EmployeeModel

@{
    ViewData["Title"] = "Details";
}
<div class="head" flex-direction:row;>

    <img src="~/assets/logo.png" style="width:50px;height:47px" />

    <span style="color: #82A70C">EMPLOYEE</span>
    <span style="color: #42515F"> PAYROLL</span>
</div>
<div class="bodydetails">

    <h3>Details</h3>

    <div>
        <br />
        <div class="row4">
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.EmpId)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.EmpId)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.ProfileImage)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.ProfileImage)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Gender)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Gender)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Department)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Department)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Salary)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Salary)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Startdate)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Startdate)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Notes)
                </dd>
            </dl>
        </div>
        <div>
            @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
            <a asp-action="Index">Back to List</a>
        </div>

    </div>
</div>